{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto px-4 max-w-5xl pt-10 pt-20">
        <header class="text-center mb-10">
            <h2 class="text-4xl font-bold">
                Mreža solidarnosti protiv represije
            </h2>

            <p class="mt-6 text-gray-500">
                Represija pogađa one koji se zalažu za istinu, pravdu i slobodu. Nasilje, kazne i različiti pritisci predstavljaju nepravedne posledice sistema koji ograničava osnovna prava. Mreža solidarnosti protiv represije pruža solidarnu finansijsku podršku za plaćanje kazni, pribavljanje lekarskih izveštaja i druge hitne potrebe vezane za sigurnost i odbranu prava, omogućujući pravovremenu pomoć u situacijama represije i pritisaka. Umreženi stojimo zajedno i pružamo podršku svima koji se suprotstavljaju nepravdi. Solidarnost je naš odgovor na represiju.
            </p>
        </header>

{#        {{ render(controller('App\\Controller\\HomeController::generalNumbers')) }}#}

        <div class="py-10 flex gap-4 flex-col md:flex-row">
            <section class="rounded-lg bg-base-100 shadow-sm w-full ">
                <p class="mt-6 ml-6 mr-6 text-gray-500 text-center" style="font-size:18px">
                    Situacije koje zahtevaju solidarnu podršku javljaju se neočekivano, zbog rastućih pritisaka i represije.
                    Prijavite se da budete donator, a instrukcije za plaćanje ćemo vam poslati čim se pojavi hitna potrebna u kriznoj situaciji.
                </p>
                <p>&nbsp;</p>
                <p class="text-center mb-6" style="color:#7ebf50;font-size:18px"><strong>Solidarno nastavljamo borbu!</strong></p>
            </section>
        </div>

        {% block supportButton %}
            {% if not app.user or not app.user.userDonor %}
                <div class="text-center">
                    <a href="{{ path('donor_request_form') }}" class="btn btn-primary btn-xl transition duration-200 hover:scale-105">
                        <span class="ti ti-heart text-2xl"></span>
                        Postani donator
                    </a>
                </div>
            {% else %}
                <div class="text-center">
                    <a href="{{ path('donor_transaction_create') }}" class="btn btn-primary btn-xl transition duration-200 hover:scale-105">
                        <span class="ti ti-heart text-2xl"></span>
                        Doniraj
                    </a>
                </div>
            {% endif %}
        {% endblock %}

        <div class="py-10 flex gap-4 flex-col md:flex-row">
            <section class="rounded-lg bg-base-100 p-6 shadow-sm w-full md:w-1/2">
                <h3 class="text-lg mb-2 font-bold">Kako da donirate?</h3>
                <p class="text-gray-500">
                    Da biste donirali, potrebno je da se prijavite kao donator na <a href="{{ path('donor_request_form') }}" class="link link-primary link-hover">ovoj</a> stranici.
                    Nakon prijave, biće Vam napravljene instrukcije za uplatu koje možete da vidite na <a href="{{ path('donor_transaction_list') }}" class="link link-primary link-hover">ovoj</a> stranici.
                </p>
            </section>

            <section class="rounded-lg bg-base-100 p-6 shadow-sm w-full md:w-1/2">
                <h3 class="text-lg mb-2 font-bold">Želite da promenite iznos?</h3>
                <p class="text-gray-500">U slučaju da želite da promenite iznos donacije, potrebno je da to uradite na <a href="{{ path('donor_request_form') }}" class="link link-primary link-hover">ovoj</a> stranici.</p>
            </section>
        </div>

        <header class="text-center my-10">
            <div class="text-4xl font-bold">
                <span class="text-4xl">Najčešća pitanja i odgovori</span>
{#                <span class="text-5xl text-red-600">!?</span>#}
            </div>

            <p class="mt-6 text-gray-500">Sumirani odgovori na najvažnija pitanja. Ne možete da nađete ono što tražite?</p>
            <p class="text-gray-500">Obratite nam se na naš <a href="mailto:info@mrezasolidarnosti.org" class="text-primary hover:underline">email</a> ili preko naših društvenih mreža.</p>
        </header>

        <div class="space-y-8 my-10">
            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    Kako je nastala Mreža solidarnosti?
                </h2>

                <div class="text-gray-500">
                    <p><span class="font-semibold">Mreža solidarnosti je nastala kao digitalna zajednica na discord serveru IT Srbije
                    koja je pružila inicijalni prostor za zajednički rad, kao i tehničku i organizacionu podršku.
                    Mreža se razvijala kroz autonoman način rada i organizacionu strukturu zasnovanu na vrednostima transparentnosti
                    i građanske odgovornosti, a danas funkcioniše kao nezavisna zajednica aktivista i građana
                    sa sopstvenim projektima i aktivnostima u javnom interesu.
                    </span></p>
                </div>
            </section>

            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    Šta je to solidarna finansijska podrška?
                </h2>

                <div class="text-gray-500">
                    <p><span class="font-semibold">Solidarna finansijska podrška nije puka dobrotvorna pomoć već predstavlja čin političkog učešća. Donatori i korisnici podrške deluju zajedno u ostvarivanju zajedničkih ciljeva i kroz zajedničke izazove, a svaki doprinos postaje praktičan izraz solidarnosti i kolektivne odgovornosti u ostvarivanju zajedničkih ciljeva Mreže.
                        </span></p>
                </div>
            </section>

            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    🤔 Šta je Mreža solidarnosti protiv represije?
                </h2>

                <div class="text-gray-500">
                    <p><span class="font-semibold">Mreža solidarnosti protiv represije je fleksibilan i privremen sistem međusobne pomoći i direktne finansijske podrške u situacijama ugrožene lične sigurnosti i povrede prava. Namenjena je brzom reagovanju u okolnostima u kojima su građani i građanke izloženi pritiscima, zastrašivanju, nasilju ili drugim oblicima ugrožavanja, posebno kada institucionalna zaštita izostaje ili je nedovoljna.</span></p>
{#                    <ul class="list-disc ml-6 mt-2">#}
{#                        <li><strong class="text-primary">Donatore</strong> – sve koji žele da solidarno finansijski podrže oštećene</li>#}
{#                        <li><strong class="text-primary">Oštećene</strong>* - osobe ugrožene represijom zbog zalaganja za pravdu, slobodu i istinu.</li>#}
{#                    </ul>#}
                    <br />
                    <p>Podrška Mreže odnosi se na hitne situacije, uključujući privođenja, lekarske preglede i pribavljanje medicinske dokumentacije o povredama nastalim nasiljem, kao i druge neposredne troškove povezane sa zaštitom zdravlja, sigurnosti i ostvarivanjem osnovnih prava. Mreža je namenjena osobama koje se, zbog zalaganja za javni interes, profesionalni integritet, slobodu mišljenja ili prava drugih, nalaze u povećanom riziku ili pod pritiscima.</p>
                    <br />
                    <p>Mreža solidarnosti povezuje donatore, odnosno sve koji žele da solidarno i neposredno finansijski podrže druge, kao i osobe kojima je podrška potrebna zbog ugrožavanja njihove sigurnosti ili prava. Funkcionisanje Mreže zasniva se na poverenju, odgovornosti i pažljivom postupanju, bez dodatnih hijerarhija i formalnih kvalifikacija, uz stalnu brigu o bezbednosti svih uključenih.</p>
                    <br />
                    <p>Građani i građanke koji su izloženi pritiscima mogu se, radi pravne i druge hitne podrške, obratiti <strong>inicijativi ŠTIT</strong>.<br />
                        Telefoni: <br />
                        <a href="tel:++381691921920">069 1921 920</a><br />
                        <a href="tel:++381603624006">060 3624 006</a><br />
                        Email: <a href="mailto:stit@gradjanske.org" class="text-primary">stit@gradjanske.org</a><br />
                        ili popunjavanjem formulara <a href="https://www.gradjanske.org/prijavi-se-za-aktivisticku-karticu-stit/" class="text-primary">na sajtu organizacije ŠTIT</a>. <br />
                        ŠTIT kartica omogućava brzu reakciju i pristup podršci u situacijama kao što su privođenja, zastrašivanja i drugi oblici ugrožavanja prava.
                    </p>
                    <br />
                    <p>
                        Članovi i članice akademske zajednice koji se nalaze pod pritiscima ili u situacijama ugrožavanja prava, uključujući nastavnike, saradnike, istraživače, studente, zaposlene u studentskim službama, tehničko i administrativno osoblje, bibliotekare, arhivare, računovođe, domare, portire i druge često nevidljive, ali nezamenjive aktere univerziteta, mogu se obratiti:<br /><br />
                        <strong>Akademskom kriznom centru Pobunjenog univerziteta u Beogradu</strong><br />
                        Telefoni: (dostupno 24 časa dnevno)<br />
                        <a href="tel:++0800500801" class="text-primary">0800 500 801</a><br />
                        <a href="tel:++381614050537" class="text-primary">+381 61 4050537</a><br />
                        <a href="tel:++381613348235" class="text-primary">+381 61 3348235</a><br />
                        email: <a href="mailto:akademskikriznicentar@gmail.com" class="text-primary">akademskikriznicentar@gmail.com</a><br /><br />

                        <strong>Akademskom kriznom centru Slobodnog univerziteta u Novom Sadu</strong><br />
                        Telefon: (dostupno 24 časa dnevno)<br />
                        <a href="tel:++381611585232" class="text-primary">+381 61 1585232</a><br /><br />

                        <strong>Akademski krizni centar Niš</strong><br />
                        Telefon: (dostupno 24 časa dnevno)<br />
                        <a href="tel:++381631045833" class="text-primary">+381 63 1045 833</a>
                    </p>
                    <br />
                    <p>Cilj Mreže solidarnosti je da obezbedi brzu, sigurnu i transparentnu podršku bez centralizovanog fonda i bez posrednika, tako da pomoć ide direktno od donatora do primaoca, uz minimalnu izloženost i maksimalnu zaštitu prava i sigurnosti svih uključenih.</p>
                    <br />
                    <p>Mreža funkcioniše kroz direktne donacije između pojedinaca, čime se obezbeđuju transparentnost, fleksibilnost i odgovorno reagovanje u situacijama u kojima je solidarnost istovremeno i oblik odbrane prava i lične sigurnosti.</p>
                </div>
            </section>

            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    ✋ Ko može učestvovati?
                </h2>

                <div class="text-gray-500">
                    <p>Svi građani – ne samo iz IT sektora!</p>
                    <p class="mt-2">Ova inicijativa solidarnosti okuplja sve koji žele da podrže one koji su pogođeni represijom i da podele njihov teret.</p>
                    <p class="mt-2 font-semibold">👉 Ako želite da pomognete, popunite <a href="/postani-donator" title="Postani donator">prijavni formular</a> ili ga prosledite nekome ko bi želeo da donira.</p>
                </div>

            </section>

            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    📬 Zašto je obavezna mejl adresa?
                </h2>

                <div class="text-gray-500">
                    <p>Mejl adresa je vid registracije. Validna mejl adresa omogućava:</p>

                    <ul class="list-disc ml-6 mt-2">
                        <li>Pravovremeno slanje tačnih i personalizovanih instrukcija za uplatu</li>
                        <li>Usmeravanje svake donacije ka odgovarajućem korisniku, bez posrednika i centralizovanog fonda</li>
                        <li>Brzu i sigurnu komunikaciju, potvrdu prijave i ažurirane informacije o procesu</li>
                    </ul>

                    <p class="mt-4 font-semibold">👉 Bez validne mejl adrese, nije moguće sprovesti uspešnu realizaciju donacije.</p>
                </div>
            </section>

            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    📈 Kako će se kontrolisati raspodela sredstava?
                </h2>

                <div class="text-gray-500">
                    <p>
                        Podatke o broju ugroženih i tačne iznosea nadoknada dobijamo od umreženih partnerskih organizacija. One verifikuju informacije i pomažu da donatori dobiju pouzdane podatke.
                        Ovaj pristup omogućava organizovanu i transparentnu raspodelu, dok Mreža solidarnosti povezuje donatore i one kojima je pomoć potrebna.
                    </p>

                    <p class="mt-4 font-semibold">👉 Ovaj sistem funkcioniše kao peer-to-peer Mreža solidarnosti.</p>
                </div>
            </section>

            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    🔐 Transparentnost i bezbednost sistema
                </h2>

                <div class="text-gray-500">
                    <ul class="list-disc ml-6 mt-2">
                        <li>Delegati proveravaju tačnost podataka pre raspodele sredstava</li>
                        <li>Redovno se objavljuju izveštaji o broju podržanih građana</li>
                        <li>Sistem minimizuje mogućnost zloupotrebe i osigurava maksimalnu bezbednost podataka</li>
                        <li>Ne objavljuju se imena pojedinaca, već samo kategorije građana koji su primili podršku</li>
                    </ul>

                    <p class="mt-4 font-semibold">👉 Nema centralizovanog fonda - novac ide direktno onima koji su ugroženi represijom.</p>
                </div>
            </section>

            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    💰 Kako će se vršiti isplate?
                </h2>

                <div class="text-gray-500">
                    <ul class="list-disc ml-6 mt-2">
                        <li>Isplata se vrši odmah nakon prijave donatora</li>
                        <li>Donatoru stiže email sa uputstvom za uplatu kada za tim bude bilo potrebe.</li>
                        <li>Trenutno nema otvorenih instrukcija za donacije jer su u toku prekršajni postupci protiv oštećenih.</li>
                        <li>Donacija se uplaćuje direktno oštećenima</li>
                    </ul>
                </div>
            </section>

            <section class="rounded-lg bg-base-100 p-10 shadow-sm">
                <h2 class="text-2xl font-semibold mb-3">
                    🙌 Apel na solidarnost zajednice
                </h2>

                <div class="text-gray-500">
                    <p>
                        Pozivamo zajednice i pojedince da prepoznaju one kojima je pomoć najpotrebnija i prijave ih odgovorno. i Što više ljudi učestvuje, to će više ugroženih dobiti podršku.
                    </p>

                    <p class="mt-4 font-semibold">
                        Budimo solidarni i zajedno podržimo one koji se bore za pravdu i bolje društvo!
                    </p>
                </div>
            </section>
        </div>

        {{ block('supportButton') }}

        <section class="text-center mt-10">
            <div class="text-gray-500">
                <p class="mt-8">Što je više donatora, to više oštećenih može dobiti pomoć!</p>
                <p>Pridruži se i budi deo mreže solidarnosti. Registruj se putem ove forme i podrži one koji su na prvoj liniji borbe za kvalitetnije obrazovanje i pravednije društvo!</p>
            </div>
        </section>

        <div class="flex flex-row justify-center mt-8 gap-4">
            <a href="https://www.linkedin.com/company/mreza-solidarnosti" target="_blank" title="LinkedIn" class="flex items-center justify-center w-12 h-12 text-primary-content transition duration-200 hover:scale-110">
                <i class="ti ti-brand-linkedin text-3xl"></i>
            </a>

            <a href="https://www.instagram.com/mrezasolidarnosti/" target="_blank" title="Instagram" class="flex items-center justify-center w-12 h-12 text-primary-content transition duration-200 hover:scale-110">
                <i class="ti ti-brand-instagram text-3xl"></i>
            </a>

            <a href="https://www.facebook.com/mrezasolidarnosti.org/" target="_blank" title="Facebook" class="flex items-center justify-center w-12 h-12 text-primary-content transition duration-200 hover:scale-110">
                <i class="ti ti-brand-facebook text-3xl"></i>
            </a>

            <a href="https://x.com/mrezaitsrbija" target="_blank" title="X" class="flex items-center justify-center w-12 h-12 text-primary-content transition duration-200 hover:scale-110">
                <i class="ti ti-brand-x text-3xl"></i>
            </a>
        </div>

        <div class="flex flex-row justify-center mt-8 gap-4 hover:underline">
            <a href="https://mrezasolidarnosti.org/politika-privatnosti.html" target="_blank">Politika privatnosti</a>
        </div>
    </div>
{% endblock %}
